[package]
name = "indracore-node-core-backing"
version = "0.1.0"
authors = ["Selendra <info@selendra.org>"]
edition = "2018"

[dependencies]
futures = "0.3.12"
bitvec = { version = "0.17.4", default-features = false, features = ["alloc"] }
tracing = "0.1.22"
tracing-futures = "0.2.4"
thiserror = "1.0.23"
sp-keystore = { git = "https://github.com/selendra/substrate", branch = "v2.0.2" }

indracore-primitives = { path = "../../../primitives" }
indracore-node-primitives = { path = "../../primitives" }
indracore-subsystem = { package = "indracore-node-subsystem", path = "../../subsystem" }
indracore-node-subsystem-util = { path = "../../subsystem-util" }
erasure-coding = { package = "indracore-erasure-coding", path = "../../../erasure-coding" }
statement-table = { package = "indracore-statement-table", path = "../../../statement-table" }


[dev-dependencies]
futures = { version = "0.3.12", features = ["thread-pool"] }
assert_matches = "1.4.0"
sp-core = { git = "https://github.com/selendra/substrate", branch = "v2.0.2" }
sp-application-crypto = { git = "https://github.com/selendra/substrate", branch = "v2.0.2" }
sp-keyring = { git = "https://github.com/selendra/substrate", branch = "v2.0.2" }
sc-keystore = { git = "https://github.com/selendra/substrate", branch = "v2.0.2" }
indracore-node-subsystem-test-helpers = { path = "../../subsystem-test-helpers" }
