[package]
name = "indracore-node-core-approval-voting"
version = "0.1.0"
authors = ["Selendra <info@selendra.org>"]
edition = "2018"

[dependencies]
futures = "0.3.8"
futures-timer = "3.0.2"
parity-scale-codec = { version = "2.0.0", default-features = false, features = ["bit-vec", "derive"] }

tracing = "0.1.22"
tracing-futures = "0.2.4"
bitvec = { version = "0.20.1", default-features = false, features = ["alloc"] }
merlin = "2.0"
schnorrkel = "0.9.1"

sc-client-api = { git = "https://github.com/selendra/substrate", branch = "master", default-features = false }
sc-keystore = { git = "https://github.com/selendra/substrate", branch = "master", default-features = false }
sp-consensus-slots = { git = "https://github.com/selendra/substrate", branch = "master", default-features = false }
sp-blockchain = { git = "https://github.com/selendra/substrate", branch = "master", default-features = false }
sp-application-crypto = { git = "https://github.com/selendra/substrate", branch = "master", default-features = false, features = ["full_crypto"] }
sp-runtime = { git = "https://github.com/selendra/substrate", branch = "master", default-features = false }

indracore-subsystem = { package = "indracore-node-subsystem", path = "../../subsystem" }
indracore-overseer = { path = "../../overseer" }
indracore-primitives = { path = "../../../primitives" }
indracore-node-primitives = { path = "../../primitives" }

[dev-dependencies]
parking_lot = "0.11.1"
rand_core = "0.5.1" # should match schnorrkel
sp-keyring = { git = "https://github.com/selendra/substrate", branch = "master" }
sp-keystore = { git = "https://github.com/selendra/substrate", branch = "master" }
sp-core = { git = "https://github.com/selendra/substrate", branch = "master" }
sp-consensus-babe = { git = "https://github.com/selendra/substrate", branch = "master" }
maplit = "1.0.2"
polkadot-node-subsystem-test-helpers = { path = "../../subsystem-test-helpers" }
assert_matches = "1.4.0"